* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.main-image {
    width: 100%;
    position: relative;
}

.details {
    position: absolute;
    bottom: 60px;
    right: 30px;
    text-align: right;
    color: white;
}

.navigator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    left: 40%;
}

.main-image>img {
    height: 100%;
}

.slider {
    width: calc(100% / 5);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.prev-img, .next-img {
    background-color: rgba(255, 255, 255, 0.664);
    padding: 0.5rem;
    cursor: pointer;
}

.active {
    border: 5px solid rgba(3, 139, 197, 0.845);
}


